@import '../../styles/variables.less';
.mobile-header {
    .wallet-icon {
        display: flex;
        align-items: center;

        &>img {
            width: 30px !important;
            height: 30px !important;
            border-radius: 5px;
        }
    }

    .mobile-hd {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 10;

        &>.mobile-hd-view {
            width: 100%;
            height: 44px;
            background: #ffffff;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            padding: 0px 20px;

            &>img {
                // width: 75px;
                // height: 26px;
            }

            &>.hd_wallet {
                width: 246px;
                height: 24px;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                &>div {
                    padding-right: 10px;

                    &>.wallet_address {
                        width: 130px;
                        height: 24px;
                        background: #f2f2f2;
                        border-radius: 4px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 0px 10px;
                        margin-right: 10px;

                        &>img:first-child {
                            width: 14px;
                            height: 14px;
                        }

                        &>img:last-child {
                            width: 14px;
                            height: 14px;
                        }
                    }

                    &>button {
                        border-radius: 4px;
                        background-color: @primary_color;
                        color: #fff;
                    }

                    &>.mobile-menu-img {
                        width: 20px;
                        height: 14px;
                        margin-left: 20px;
                    }
                }
            }
        }

        .mobile-menu-img {
            width: 20px;
            height: 14px;
        }
    }

    .mobile-bg1-img {
        position: absolute;
        top: -39.5px;
        right: 0;
        width: 101px;
        height: 141px;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 205px;
        height: 100%;
        z-index: 999;
        background-color: #fff;
        transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        -ms-transition: all 0.5s ease-out;
        height: 100%;
        overflow: initial;

        &>div {
            height: 100%;
            overflow: hidden auto;
            padding: 20px 0 0;

            &>section {
                background: #F8F8F8;
                padding: 10px 0 10px;
            }
        }

        .mobile-homes {
            margin-bottom: 15px;

            .ant-menu-title-content {
                display: flex;
                align-items: center;
            }
        }

        .menu-item {
            .ant-menu-title-content {
                overflow: initial !important;
            }
        }

        .mobile-application {
            border-top: 1px solid #dddddd;
            border-bottom: 1px solid #dddddd;
            padding: 15px 0 15px;
            margin-bottom: 15px;
        }
    }

    .show-menu {
        right: 0;
    }

    .menu-back {
        position: absolute;
        bottom: 20px;
        font-size: 16px;
        font-weight: bold;
        color: @primary_color;
        padding-left: 24px;
    }

    .drawer-mask {
        background: #000;
        opacity: 0;
        width: 100%;
        height: 0;
        position: fixed;
        top: 0;
        left: 0;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), height 0s ease 0.3s;
        z-index: 99;
    }

    .drawer-show {
        opacity: 0.6;
        height: 100%;
        transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
    }

    .ant-menu {
        font-size: 16px;
        color: #2b2b2b;
        font-weight: bold;
        padding-bottom: 20px;

        img {
            width: 20px;
            margin-right: 10px;
        }

        &>.ant-menu-item img {
            height: 24px;
            width: initial;
        }

        .ant-menu-inline .ant-menu-submenu-title {
            padding-left: 20px !important;
        }

        .ant-menu-sub.ant-menu-inline>.ant-menu-item {
            padding-left: 30px !important;
        }

        .line {
            margin: 15px 0;
        }
    }

    .language-change {
        display: flex;
        justify-content: space-between;
        // background: rgba(153, 153, 153, 0.5);
        border-radius: 4px;
        margin: 0 30px;
        font-size: 12px;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: #999999;

        &>div {
            display: flex;
            align-items: center;

            img {
                width: 14px;
                margin-right: 5px;
            }
        }

        .ant-select-selector {
            background-color: transparent !important;
            border: none !important;
            border-color: transparent !important;
        }

        .ant-select-selector:hover {
            background-color: transparent !important;
            border: none !important;
            border-color: transparent !important;
        }

        .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
            border: none !important;
            border-color: transparent !important;
        }

        .ant-select {
            font-size: 12px;
            color: #999999 !important;
        }

        .ant-select:focus-visible {
            border: none !important;
        }
    }

    .home-bt-con {
        &>div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 10px 30px 10px;
            margin: 0 auto;
        }
    }

    .jump-img {
        width: 30px !important;
        cursor: pointer;
    }
}

.info-class {
    margin: 30px;

    .ant-message-notice-content {
        width: 300px;
        padding: 50px;
        background: #ffffff;
        border-radius: 10px;
        width: 100%;
        font-size: 16px;
        font-family: PingFangSC-Semibold, PingFang SC;
        font-weight: 600;
        color: #2b2b2b;
    }
}

// .ant-layout-content when not (isurl(url('/'))){
//     padding: 40px 0 0 0 !important;
//     background: #fff;
// }
@media (min-width: 1200px) {
    .wallet-icon {
        display: flex;
        align-items: center;

        &>img {
            border-radius: 5px;
            width: 30px !important;
            height: 30px !important;
        }
    }

    .halo-header {
        position: relative;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        // box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.09);
        overflow: initial;

        .ant-btn-primary {
            width: 160px;
            height: 44px;
            border-radius: 4px;
        }

        .logo-img {
            width: 114px;
            cursor: pointer;
            
        }

        .ishome {
            .hd-menu {
                display: flex;
                flex: 1;
                justify-content: flex-end;
            }
        }

        .hd-menu {
            background: none !important;
            color: #2b2b2b !important;

            .line {
                width: 200px;
                height: 1px;
                background: #dddddd;
                margin: 30px 0;
            }

            .menu-item {
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #2b2b2b;
            }

            .ant-menu-title-content {
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #2b2b2b;
                display: flex;
                align-items: center;
                overflow: initial !important;

                &>div {
                    display: flex;
                    align-items: center;
                }
            }

            .menu-item:hover {
                color: @primary_color !important;
                background: rgba(255, 255, 255, 0.5) !important;

                .ant-menu-submenu-title {
                    color: #2b2b2b !important;
                }
            }

            .ant-menu-item {
                display: flex;
                align-items: center;
                font-size: 14px;
                font-family: PingFangSC-Regular, PingFang SC;
                font-weight: 400;
                color: #2b2b2b;
                padding-left: 24 !important;
            }

            img {
                height: 20px;
                margin-right: 10px;
            }

            .ant-menu-item:hover {
                font-size: 14px;
                font-family: PingFangSC-Semibold, PingFang SC;
                
                color: @primary_color !important;
                background: @menu_bg !important;
            }

            .ant-menu-item-selected {
                background: @menu_bg !important;
                color: @primary_color !important;
                .ant-menu-title-content {
                    font-size: 14px;
                    font-family: PingFangSC-Semibold, PingFang SC;
                   
                    color: @primary_color !important;
                }

                
            }
        }

        .bg1-img {
            width: 739px;
            height: 572px;
            position: absolute;
            top: 0;
            right: 0;
        }

        @media screen and (min-width: 1440px) {
            .bg1-img {
                width: 739px;
                height: 572px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

        //ishome
        .ishome {
            display: flex;
            justify-content: space-between;
            padding: 24px;
            background: #fff;
            z-index: 9;

            .logo-img {
                margin: 0;
            }
        }
    }

    .other-header {
        position: fixed;
        margin-top: -76px;
        height: 100vh;
        overflow: initial;
        background: #ffffff;
        box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.05);
        .home-hd {
            height: 100%;
            overflow: hidden auto;
            padding: 20px 20px 0;
            width: 240px;
            scrollbar-width: none;

            .hd-menu {
                padding-bottom: 140px;

                .hd-application {
                    border-bottom: 1px solid #DDDDDD;
                    border-top: 1px solid #DDDDDD;
                    padding: 30px 0 30px;
                    margin: 20px 0 20px;
                }
                &>.bt{
                    border-top: 1px solid #DDDDDD;
                    padding: 20px 0 0;
                    margin: 20px 0 0;
                }
            }

            &>div {
                padding-left: 25px;
            }

            .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
            .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
            .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
            .ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
            .ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
            .ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
                background: #000;
            }
        }
    }

    .home-hd::-webkit-scrollbar {
        display: none;
    }

    .ant-menu-sub {
        background: rgba(255, 255, 255, 0.4) !important;
    }

    .menu-item-sub {
        font-weight: 700;
    }

    .ant-menu-dark .ant-menu-submenu-title {
        color: #2b2b2b !important;
        background: none !important;
    }

    .menu-item-sub.ant-menu-item-only-child {
        color: #2b2b2b !important;
        background: none !important;
    }

    .ant-menu-item-active {
        background: @primary_color;
        border-radius: 4px;
        opacity: 0.9;
    }

    //home
    .menu-item-sub.ant-menu-item-only-child:hover {
        color: #2b2b2b !important;
        background: none !important;
    }

    .ant-menu-dark.ant-menu-submenu-popup {
        background: #fff !important;
    }

    .ant-menu-vertical.ant-menu-sub .ant-menu-item,
    .ant-menu-vertical-left.ant-menu-sub .ant-menu-item,
    .ant-menu-vertical-right.ant-menu-sub .ant-menu-item {
        color: #000 !important;
    }

    .ant-menu-dark .ant-menu-item:hover {
        color: @primary_color !important;
    }

    .ant-menu-item {
        img {
            height: 16px;
        }
    }

    //tips
    .info-class {
        .ant-message-notice-content {
            width: 400px;
            padding: 50px;
            background: #ffffff;
            border-radius: 10px;
            font-size: 16px;
            font-family: PingFangSC-Semibold, PingFang SC;
            font-weight: 600;
            color: #2b2b2b;
            padding-top: 50px;
        }
    }
}