.wallets {
  width: 245PX;

  .wallet {
    color: #313341;
    font-size: 14PX;
    line-height: 18PX;
    height: 38PX;
    border: 1PX solid #e9eef2;
    box-sizing: border-box;
    border-radius: 5PX;
    margin: 8PX 0;
    padding: 10PX;
    display: flex;
    align-items: center;
    cursor: pointer;

    > div:nth-child(1) {
      flex-basis: 115PX;
    }

    img {
      height: 15PX;
    }

    &:hover {
    }
  }
}
