@import '../../styles/variables.less';



@media (min-width: 1200px) {
    .box {

        background: #fff;
        padding   : 20px;
        margin-bottom: 20px;

        &>.title {
            font-size: 16px;
        }
        

        &>.tip {
            color: @primary_color;
        }
        &>.item{
            margin-top: 10px;
            &>span{
                font-size: 14px;
            }
    
            &>.same-btn{
               display: block;
               margin-top: 20px;
            }
            
        }
       

    }
}