.language-change {
    padding-left: 24px;
    .language {
        margin-top: 20px;
    }

}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color:transparent !important;
    border: none;
}

.ant-select-dropdown {
    background   : #FFFFFF;
    box-shadow   : 0px 3px 4px 1px rgb(0 0 0 / 6%);
    border-radius: 5px 5px 5px 5px;
    opacity      : 1;
    border       : 1px solid #E0E0E0;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background: #F5F5F5; 
}

@media(width:1200px) {
    .language-change {
        &>span {
            font-size   : 14px;
            color       : #000000;
            margin-right: 10px;
        }

        &>img {
            width: 15px;
        }
    }
}