.mobile-language {
    padding-left: 24px;
    border-top  : 1px solid #C8C8C8;
    padding-top : 12px;
    margin-top  : 40px;

    &>span {
        font-size   : 14px;
        color       : #000000;
        margin-right: 10px;
    }

    &>img {
        width: 15px;
    }

    .radio-item {
        margin-top: 17px;
        align-items: center;
        &>span {
            font-size: 12px;
            color    : #000000;

            &>img {
                width       : 20px;
                margin-right: 10px;
            }
        }
    }
}