@import '../../styles/variables.less';

.home {
    
    &>.bg {
        position: relative;

        &>.banner {
            width: 100%;
        }

        &>.content {
            font-size: 14px;
            color    : #fff;
            position : absolute;
            top      : 17px;
            left     : 20px;
        }
    }

    .Statistics {
        position     : relative;
        margin-top   : 33px;
        margin-bottom: 43px;
        height: 193.85px;

        &>img {
            width: 100%;
        }

        &>.content {
            position: absolute;
            top     : 42px;
            left    : 30px;
            right   : 33px;
            color   : #FFFFFF;

            &>.title {
                font-size: 15px;
            }

            &>.amount {
                font-size: 46px;
            }

            &>.bottom {
                display        : flex;
                justify-content: space-between;
                margin-top     : 10px;
                font-size      : 16px;

                &>div {
                    display    : flex;
                    align-items: center;

                    &>span {
                        font-size  : 20px;
                        margin-left: 15px;
                    }
                }
            }
        }

    }

    .records {
        margin-bottom: 50px;
        &>.title {
            font-size: 18px;
            color    : #000000;
            margin-bottom: 19px;
        }

        &>.box {
            background   : #FFFFFF;
            box-shadow   : 0px 1px 2px 1px rgba(0, 0, 0, 0.16);
            border-radius: 10px 10px 10px 10px;
            padding-bottom: 28px;
            &>.title{
               
                display: flex;
                padding: 21px 25px 15px;
                justify-content: space-between;
                color: #707070;
                font-size: 14px;
                border-bottom: 1px solid #E9E9E9;;
                &>div:nth-child(2){
                    position: relative;
                    &>.same-item{
                        width: 120px;
                        right: -30px;
                    }
                }
                .same-item{
                    position: absolute;
                    background: #FFFFFF;
                    border-radius: 6px 6px 6px 6px;
                    border: 1px solid #F1F1F1;
                    font-size: 14px;
                    color: #707070;
                    z-index: 100;
                    padding: 5px 0 5px;
                    margin-top: 5px;
                    right: 20px;
                    display: none;
                    &>div{
                        padding: 5px 27px 5px;
                    }
                    &>.duce{
                        color: #F79E4E;
                    }
                    
                }
                .isShow{
                    display: block;
                }
                &>div:nth-child(1){
                    display: flex;
                    align-items: center;
                    &>img{
                        width: 13.3px;
                        margin-left: 10px;
                    }
                }
                &>div:nth-child(2){
                    
                    &>img{
                        width: 11.5px;
                        margin-left: 10px;
                    }
                    
                }
                &>div:nth-child(3){
                    &>img{
                        width: 11.5px;
                        margin-left: 10px;
                    }
                }
            }
            &>.lists{
                height: 240px;
                overflow: hidden auto;
                &>.item{
                    font-size: 16px;
                    color: #000000;
                    padding: 21px 25px 15px;
                   &>.ant-col:nth-child(3){
                     text-align: center;
                     color: #009C2A;
                   }
                   .red{
                    color: #FF0000;
                   }
                }
                &>.item:nth-child(even){
                    background: #F9F9F9;
                }
                
            }
            .next{
                text-align: center;
                &>img{
                    width: 24px;
                    margin-top: 28px;
                }
            }
        }
    }
}

.ant-picker{
    .ant-picker-input{
        display: none;
    }
}
@media (min-width: 1200px) {
    .home{

        .Statistics {
            position     : relative;
            margin-top   : 33px;
            margin-bottom: 43px;
            height: inherit;
            
    
            &>img {
                width: 100%;
            }
    
            &>.content {
                position: absolute;
                top     : 300px;
                left    : 30px;
                right   : 33px;
                color   : #FFFFFF;
    
                &>.title {
                    font-size: 15px;
                }
    
                &>.amount {
                    font-size: 46px;
                }
    
                &>.bottom {
                    display        : flex;
                    justify-content: space-between;
                    margin-top     : 10px;
                    font-size      : 16px;
    
                    &>div {
                        display    : flex;
                        align-items: center;
    
                        &>span {
                            font-size  : 20px;
                            margin-left: 15px;
                        }
                    }
                }
            }
    
        }
        .records {
            margin-bottom: 50px;
            &>.title {
                font-size: 18px;
                color    : #000000;
                margin-bottom: 19px;
            }
    
            &>.box {
                background   : #FFFFFF;
                box-shadow   : 0px 1px 2px 1px rgba(0, 0, 0, 0.16);
                border-radius: 10px 10px 10px 10px;
                padding-bottom: 28px;
                &>.title{
                   
                    display: flex;
                    padding: 21px 25px 15px;
                    justify-content: space-between;
                    color: #707070;
                    font-size: 14px;
                    border-bottom: 1px solid #E9E9E9;;
                    &>div:nth-child(2){
                        position: relative;
                        &>.same-item{
                            width: 120px;
                            right: -30px;
                        }
                    }
                    .same-item{
                        position: absolute;
                        background: #FFFFFF;
                        border-radius: 6px 6px 6px 6px;
                        border: 1px solid #F1F1F1;
                        font-size: 14px;
                        color: #707070;
                        z-index: 100;
                        padding: 5px 0 5px;
                        margin-top: 5px;
                        right: 20px;
                        display: none;
                        &>div{
                            padding: 5px 27px 5px;
                        }
                        &>.duce{
                            color: #F79E4E;
                        }
                        
                    }
                    .isShow{
                        display: block;
                    }
                    &>div:nth-child(1){
                        display: flex;
                        align-items: center;
                        &>img{
                            width: 13.3px;
                            margin-left: 10px;
                        }
                    }
                    &>div:nth-child(2){
                        
                        &>img{
                            width: 11.5px;
                            margin-left: 10px;
                        }
                        
                    }
                    &>div:nth-child(3){
                        &>img{
                            width: 11.5px;
                            margin-left: 10px;
                        }
                    }
                }
                &>.lists{
                    height: 240px;
                    overflow: hidden auto;
                    &>.item{
                        font-size: 16px;
                        color: #000000;
                        padding: 21px 25px 15px;
                       &>.ant-col:nth-child(3){
                         text-align: center;
                         color: #009C2A;
                       }
                       .red{
                        color: #FF0000;
                       }
                    }
                    &>.item:nth-child(even){
                        background: #F9F9F9;
                    }
                    
                }
                .next{
                    text-align: center;
                    &>img{
                        width: 24px;
                        margin-top: 28px;
                    }
                }
            }
        }
    }
}