@import '~antd/dist/antd.less';
@import '../styles/variables.less';

body {
    overflow-y: scroll;
    width     : 100%;
    height    : 100%;
    background: #f0f2f5;
}

.homes-layout {
    background: #fff;
}

.home-layout {
    background    : rgba(255, 253, 253, 1);
    display       : flex;
    flex-direction: row;
}

.text-center {
    text-align: center;
}

button:disabled {
    border          : none !important;
    color           : rgba(#fff, 0.4) !important;
    // background-color: rgb(65, 65, 65) !important;
}

.container {
    width  : 100%;
    padding: 0 10px 0 10px;
}
.mobile-from-modal {
    border-radius: 10px;
    padding      : 30px;

    .ant-modal-content {
        width        : initial;
        background   : #fff;
        border-radius: 10px;
    }

    .ant-modal-body {
        .ant-select {
            width: 100%;

            .ant-select-selector {
                height       : 44px;
                background   : #ffffff;
                border-radius: 4px;
                border       : 1px solid #dddddd;

                .ant-select-selection-item {
                    height     : 44px;
                    line-height: 44px;
                }
            }
        }

        .modal-bt {
            margin-top     : 20px;
            text-align     : right;
            display        : flex;
            align-items    : center;
            justify-content: flex-end;

            .btn-m-w {
                padding-right: 15px;
                font-size    : 12px;
                font-family  : PingFangSC-Regular, PingFang SC;
                font-weight  : 400;
                color        : #b1232c;
            }
        }
    }
}

.mobile-option-item {
    font-size  : 14px;
    font-family: SFPro-Semibold, SFPro;
    font-weight: 600;
    color      : #2b2b2b;

    img {
        height: 20px;
    }
}

.same-btn {
    width        : 100px;
        height       : 40px;
    background   : @primary_color;
    border-radius: 10px 10px 10px 10px;
    opacity      : 1;
    font-size    : 15px;
    color: #fff;
}
.red{
    color: #FF0000 !important;
   }
@media (min-width: 1200px) {

    html,
    body {
        font-size : 10px;
        background: #dcdcdc;
    }
    .container {
        width  : 1200px;
        padding: 0;
        margin : auto;
    }

    .oneTop {
        padding      : 17px 30px 18px 0;
        height       : 76px;
        text-align   : right;
        background   : #fff;
        border-bottom: 1px solid #dcdc;

        .left {
            display        : flex;
            justify-content: flex-end;
            line-height    : 40px;

            &>div {
                display       : flex;
                flex-direction: column;
                margin-right  : 22px;
                align-items   : center;

                &>div {
                    display    : flex;
                    align-items: center;
                }

                .top {
                    color    : #BB212C;
                    font-size: 16px;
                }

                .bottom {
                    font-size  : 10px;
                    font-family: PingFangSC-Regular, PingFang SC;
                    font-weight: 400;
                    color      : #999999;

                    div:first-child {
                        width : 24px;
                        margin: auto;

                        &>div {
                            width        : 4px;
                            height       : 4px;
                            background   : #34ff31;
                            border-radius: 2px;
                        }
                    }
                }
            }

            .ant-btn {
                height: 35px;
            }
        }

        &>.ConnectWallet {
            &>.ant-btn {
                border-radius: 10px;
                width        : 140px;
                height       : 40px;
                color        : @primary_color;
                border       : 1px solid @primary_color;
            }
        }
    }

    // .homes-layout {
    //     // background:#fff;
    // }

    .home-layout {
        background: #F8F8F8;

        .btn {
            width        : 160px;
            height       : 44px;
            background   : #b1232c;
            border-radius: 4px;
        }

        .btn-l {
            width        : 162px;
            height       : 35px;
            background   : #b1232c;
            border-radius: 4px;
        }

        .btn-g {
            width        : 240px;
            height       : 44px;
            background   : #b1232c;
            border-radius: 4px;
        }
    }

    .homes-layout{
        &>.ant-layout-content {
            padding   : 50px 50px 50px 270px;
            background: #dcdcdc;
        }
    }

    .from-modal {
        border-radius: 10px;
        padding      : 30px;

        .ant-modal-content {
            width        : 400px;
            background   : #fff;
            border-radius: 10px;
        }

        .ant-modal-body {
            .ant-select {
                width: 100%;

                .ant-select-selector {
                    height       : 44px;
                    background   : #ffffff;
                    border-radius: 4px;
                    border       : 1px solid #dddddd;

                    .ant-select-selection-item {
                        height     : 44px;
                        line-height: 44px;
                    }
                }
            }

            .modal-bt {
                margin-top: 20px;
                text-align: right;

                .btn-m-w {
                    padding-right: 50px;
                    font-size    : 12px;
                    font-family  : PingFangSC-Regular, PingFang SC;
                    font-weight  : 400;
                    color        : #b1232c;
                }
            }
        }
    }

    .option-item {
        font-size  : 14px;
        font-family: SFPro-Semibold, SFPro;
        font-weight: 600;
        color      : #2b2b2b;

        img {
            height: 20px;
        }
    }

    .same-btn {
        width        : 100px;
        height       : 40px;
        background   : @primary_color;
        border-radius: 10px 10px 10px 10px;
        opacity      : 1;
        font-size    : 15px;
        color: #fff;
        
    }
}

.line {
    width     : 100%;
    height    : 1px;
    background: #dddddd;
}

@primary-color       : #b1232c; // 全局主色
@link-color          : #1890ff; // 链接色
@success-color       : #52c41a; // 成功色
@warning-color       : #faad14; // 警告色
@error-color         : #f5222d; // 错误色
@font-size-base      : 14px; // 主字号
@heading-color       : rgba(0, 0, 0, 0.85); // 标题色
@text-color          : rgba(0, 0, 0, 0.65); // 主文本色
@text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
@disabled-color      : rgba(0, 0, 0, 0.25); // 失效色
@border-radius-base  : 2px; // 组件/浮层圆角
@border-color-base   : #d9d9d9; // 边框色
@box-shadow-base     : 0 3px 6px -4px rgba(0, 0, 0, 0.12),
0 6px 16px 0 rgba(0, 0, 0, 0.08),
0 9px 28px 8px rgba(0, 0, 0, 0.05); // 浮层阴影