@media (min-width: 1200px) {
    .halo-footer {
        position:fixed;
        display: flex;
        width: 100%;
        bottom: 0;
        background-color: rgba(255, 253, 253, 1);
        .language-change{
            display: flex;
            justify-content: space-between;
            width: 270px;
            padding: 0 30px 0;
            background: #fff;
            &>div{
                display: flex;
                align-items: center;
                img{
                    width: 14px;
                    margin-right: 5px;
                }
            }
        }
        .home-bt-con {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 30px;
            margin: 0 auto;
            background: #fff;
        }
        .bt-text {
            font-size: 16px;
            font-weight: 400;
            color: #b5b5b5;
            line-height: 22px;
        }
        .jump-img {
            width: 36px;
            margin-left: 22px;
            cursor: pointer;
        }
    }
}
